:root {
  ---fundo-base: #292929;
  ---fundo-topo: #121212;
  --sombra: rgba(14, 14, 14, 0.884);
  --botao: #191919;
  --luz: rgb(67, 209, 235);
  --letra-midi: #6bc5ee;
  --letra: #6bc5ee;
  --letra-escura: #116a92;
  --fundo-teclado-topo: #364f58;
  --fundo-teclado-base: #182d35;
  --borda-teclado: #111111;
}

body {
  align-items: center;
  background: linear-gradient(45deg, var(---fundo-base) 0%, var(---fundo-topo) 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--letra-midi);
  font-family: 'Bebas Neue', cursive;
  margin-bottom: 15px;
  font-size: 3rem;
  
}

.teclado {
  background: linear-gradient(to bottom, var(--fundo-teclado-base) 0%,var(--fundo-teclado-topo) 100%);
  box-shadow: 6px 8px 0 6px var(--borda-teclado), 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--botao);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--sombra);
  color: var(--letra);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--letra);
  border: 4px solid  var(--letra);
  box-shadow: 3px 3px 0 var(--letra-escura) inset;
  color: var(--botao);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--letra-escura) inset, 1px 1px 10px var(--luz);
}
